* {
  padding: 0;
  margin: 0;
  font-family: 'Georgia';
  font-size: 90%;
}
html,
body,
#root {
  height: 100%;
}
#App {
  background-image: url('sky.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

#header {
  width: 100%;
  background-color: rgba(141, 173, 214, 0.651);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border: solid 2px rgba(0, 0, 0, 0.698);
  box-shadow: 6px 6px rgba(0, 0, 0, 0.315);
}

#container-wrapper {
  height: 100%;
  padding-top: 2vh;
}

#main-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#grid {
  height: 100%;
  max-width: 2000px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1.5vw;
}

.box {
  width: 250px;
  max-height: 250px;
  background-color: rgba(176, 196, 222, 0.55);
  border-radius: 4px;
  margin: 1.5vw;
  padding: 25px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: solid 2px rgba(0, 0, 0, 0.698);
  box-shadow: 6px 6px rgba(0, 0, 0, 0.315);
}

#buttons {
  display: flex;
  justify-content: center;
  padding-bottom: 5vh;
}

#prev-button,
#next-button {
  margin: 5px;
  width: 8%;
  border: solid 1px rgba(0, 0, 0, 0.698);
  box-shadow: 1.5px 1.5px rgba(0, 0, 0, 0.315);
}
